<div class="container rounded bg-white mt-5 mb-5">
  <!--  <form class="form-register" #f="ngForm" (ngSubmit)="f.form.valid && ngSubmit()" novalidate>-->
  <form [formGroup]="formUserProfile" (ngSubmit)="updateProfile()" *ngIf="checkUserProvider">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" src="{{fb}}">
          <div style="margin-top: 30px" class="btn btn-primary btn-sm float-left">
            <span>Choose file</span>
            <input type="file" (change)="onFileSelected($event)">
          </div>
          <span
            class="font-weight-bold" class="text-black-50">{{userProvider.email}}</span>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
          </div>
          <!--          <h4 class="text-right">Profile Settings</h4>-->
          <div class="row mt-2">

            <div class="col-md-6" style="margin-top: 15px"><label class="labels">Name</label><input type="text" class="form-control"
                                                                           formControlName="name">
              <small style="color: darkred"
                     *ngIf="formUserProfile.controls['name'].hasError('required') && formUserProfile.controls['name']">
                name ko được để trống</small>
            </div>
            <div class="col-md-6" style="margin-top: 15px"><label class="labels">Username</label><input type="text" class="form-control"
                                                                               formControlName="username">
              <small style="color: darkred"
                     *ngIf="formUserProfile.controls['username'].hasError('required') && formUserProfile.controls['username']">
                username ko được để trống</small>
            </div><br>

          </div>
          <!--        *ngIf="userProvider.roles == [{id: 2, name: 'SP'}]"-->
          <div class="row mt-3">

            <div class="col-md-12" style="margin-top: 10px"><label class="labels">Mobile Number</label><input type="text" class="form-control" formControlName="phoneNumber">
              <small style="color: darkred"
                     *ngIf="formUserProfile.controls['phoneNumber'].hasError('required') && formUserProfile.controls['phoneNumber']">
                phoneNumber ko được để trống</small>
            </div>
            <div class="col-md-12" style="margin-top: 10px" ><label class="labels">Email</label><input type="text" class="form-control"
                                                                             formControlName="email">
              <small style="color: darkred"
                     *ngIf="formUserProfile.controls['email'].hasError('required') && formUserProfile.controls['email']">
                email ko được để trống</small></div>
            <div  class="col-md-12" style="margin-top: 15px"><label class="labels">Identify</label><input type="text" class="form-control"
                                                                             formControlName="identify"></div>
            <div class="form-group" style="margin-left: 15px; margin-top: 15px" >
              <label for="comment1">Descreption</label>
              <textarea  class="form-control" rows="2" cols="54" id="comment2" formControlName="description"></textarea>
              <small style="color: darkred"
                     *ngIf="formUserProfile.controls['description'].hasError('required') && formUserProfile.controls['description']">
                description ko được để trống</small>

            </div>
            <div class="form-group" style="margin-left: 15px; margin-top: 5px">
              <label for="comment1">Requirement</label>
              <textarea class="form-control" rows="2" cols="54" id="comment1" formControlName="requirement"></textarea>
            </div>
            <br>
            <div>
              <div style=" margin-left: 15px">
                <label class="labels">Image</label>
                <div class="col-md-12" class="d-flex flex-column align-items-center" >
                  <input class="col-md-12" type="file" class="form-control"  multiple="multiple" (change)="uploadFileImg($event)">
                  <div *ngFor="let img of arrayPicture">
                    <img [src]="img" height="100" width="100" style="margin-top: 5px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-2 text-center">
            <button class="btn btn-primary profile-button" style="margin-top: 30px" [disabled]="!checkUploadFile" type="submit">Save Profile
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center experience"><span>User-Profile</span>
            <a routerLink="/profile-provider/{{userProvider.id}}" class="border px-3 p-1 add-experience"><i
              class="fa fa-address-book"></i>Provider</a>
          </div>
          <br>
          <div>
          </div>
          <div>
            <div>

              <div class="col-md-12" style="margin-top: 15px"><label class="labels">Date Of Birth</label>
                <input type="date" class="form-control" value="" formControlName="dateOfBirth"></div>
              <div class="col-md-6" style="margin-top: 15px"><label class="labels">City</label>
                <input type="text" class="form-control" value="" formControlName="city">
                <small style="color: darkred"
                       *ngIf="formUserProfile.controls['city'].hasError('required') && formUserProfile.controls['city']">
                  city ko được để trống</small>
              </div>
              <div class="col-md-6" style="margin-top: 15px"><label class="labels">Nationality</label>
                <input type="text" class="form-control" value="" formControlName="nationality">
                <small style="color: darkred"
                       *ngIf="formUserProfile.controls['nationality'].hasError('required') && formUserProfile.controls['nationality']">
                  nationality ko được để trống</small>
              </div>
              <div class="col-md-6" style="margin-top: 15px"><label class="labels">Age</label>
                <input type="number" class="form-control" value="" formControlName="age">
                <small style="color: darkred"
                       *ngIf="formUserProfile.controls['age'].hasError('required') && formUserProfile.controls['age']">
                  age ko được để trống</small>
              </div>
            </div>
            <div >
              <div class="col-lg-3" style=" margin-left: 3px; margin-top: 20px">
                  <label class="mdb-main-label" >Gender</label>
                  <select class="form-select" formControlName="gender" >
                    <option value="nam">Male</option>
                    <option value="nu">Female</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>
