<div class="container rounded bg-white mt-5 mb-5">
<!--  <form class="form-register" #f="ngForm" (ngSubmit)="f.form.valid && ngSubmit()" novalidate>-->
<form [formGroup]="formUserProfile" (ngSubmit)="updateProfile()" >
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{userProvider.name}}</span><span class="text-black-50">{{userProvider.email}}</span></div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
<!--          <h4 class="text-right">Profile Settings</h4>-->
        </div>
        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" formControlName="name"></div>
          <div class="col-md-6"><label class="labels">Username</label><input type="text" class="form-control" formControlName="username"></div>
        </div>
<!--        *ngIf="userProvider.roles == [{id: 2, name: 'SP'}]"-->
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" formControlName="phoneNumber"></div>
          <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" formControlName="email"></div>
<!--          <div class="col-md-12"><label class="labels">Password</label><input type="text" class="form-control"  formControlName="password"></div>-->
          <div     *ngIf="userProvider.roles == [{id: 2, name: 'SP'}]"  class="col-md-12"><label class="labels">Avatar</label><input type="text" class="form-control" formControlName="avatar"></div>
          <br>
          <div     *ngIf="userProvider.roles == [{id: 2, name: 'SP'}]" class="col-md-12"><label class="labels">Images</label><input type="text" class="form-control" formControlName="image"></div>
          <br>
          <div  class="col-md-12"><label class="labels">Description</label><input type="text" class="form-control" formControlName="description"></div>
          <br>
          <div  class="col-md-12"><label class="labels">Requirement</label><input type="text" class="form-control" formControlName="requirement"></div>

        </div>
        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center experience"><span>Profile-User</span>
          <a routerLink="/profile-provider" class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Provider</a>
        </div><br>
       <div>
         <div     *ngIf="userProvider.roles == [{id: 2, name: 'SP'}]" class="col-md-12"><label class="labels">DateOfBirth</label><input type="text" class="form-control" formControlName="dateOfBirth"></div>
         <br>
         <div     *ngIf="userProvider.roles == [{id: 2, name: 'SP'}]" class="col-md-12"><label class="labels">Facebook</label><input type="text" class="form-control" formControlName="facebook"></div>
         <br>
        <div  class="col-md-12"><label class="labels">VipDate</label><input type="text" class="form-control" formControlName="vipDate"></div> <br>
        <div  class="col-md-12"><label class="labels">StarDate</label><input type="text" class="form-control" formControlName="starDate"></div>
         <div  class="col-md-6"><label class="labels">Age</label><input type="text" class="form-control" formControlName="age"></div>
         <div  class="col-md-6"><label class="labels">Gender</label><input type="text" class="form-control" formControlName="gender"></div>
         <div  class="col-md-6"><label class="labels">City</label><input type="text" class="form-control" value="" formControlName="city"></div>
         <div  class="col-md-6"><label class="labels">Nationality</label><input type="text" class="form-control" value="" formControlName="nationality"></div>
         <div  class="col-md-6"><label class="labels">Status</label><input type="text" class="form-control" value="" formControlName="status"></div>
      </div>
    </div>
  </div>
</div>
</form>
</div>
