
<div class="super_container">
  <!-- New Arrivals -->
  <div class="new_arrivals">
    <div class="container">
      <div class="filter-players" style="margin-left: 120px" >
        <input type="text" class="form-controls citys" placeholder="Độ tuổi tối thiểu"  aria-describedby="popover-trigger-city" value="" [(ngModel)]="search.minAge">
        <input type="text" class="form-controls citys" placeholder="Độ tuổi tối đa"  aria-describedby="popover-trigger-city" value="" [(ngModel)]="search.maxAge">
        <input type="text" class="form-controls citys" placeholder="Nơi sống"  aria-describedby="popover-trigger-city" value="" [(ngModel)]="search.city">
        <input type="text" class="form-controls names" placeholder="Tên Player" autocomplete="off"  value="" [(ngModel)]="search.name">
        <select class="form-controls gender "[(ngModel)]="search.gender" >
          <option value="">Giới tính</option>
          <option value="nữ">Nữ</option>
          <option value="nam">Nam</option></select>
        <button type="button" class="form-controls btn-filters btns btn-defaults" style="color: red"(click)="searchNow()"><i class="fa fa-search" ></i> Tìm kiếm</button>
      </div>
      <div >
        <p class="vipPlayer"></p>
      </div>
      <div class="row">
        <div class="col">
          <div class="product-grid"
               data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
            <div class="product-item men left" *ngFor="let find of provider">
              <div class="product discount product_filter">
                <div class="product_image">
                  <a [routerLink]="'details/'+find.id" >
                    <img src="{{find.avatar}}" alt="" >
                  </a>
                </div>
                <div class="favorite favorite_left"></div>
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                  <span>{{find.price}}d/h</span></div>
                <div class="product_info">
                  <a  [routerLink]="'details/'+find.id">
                    <div class="product_price">{{find.name}}
                    </div>
                  </a>
                  <div >
                    <div class="description">
                      🍓 Tuổi :  {{find.age}}
                  </div>
                  <div class="imgGame">
                    <img src="https://files.playerduo.com/production/static-files/game-category/other.png" class="iconPlay" alt="category logo"  >
                   {{find.requirement}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="new_arrivals">
  <div class="container">
    <div >
      <p class="vipPlayer" >Hot Player</p>
    </div>
    <div class="row">
      <div class="col">
        <div class="product-grid"
             data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
          <div class="product-item men left" *ngFor="let hotUser of users">
            <div class="product discount product_filter">
              <div class="product_image">
                <a [routerLink]="'details/'+hotUser.id" >
                  <img src="{{hotUser.avatar}}" alt="" >
                </a>
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                <span>{{hotUser.price}}$/h</span></div>
              <div class="product_info">
                <a  [routerLink]="'details/'+hotUser.id">
                  <div class="product_price">{{hotUser.name}}
                  </div>
                </a>
                <div>
                  <div class="description">
                    🍓 Tuổi :  {{hotUser.age}}
                  </div>
                </div>
                <div class="imgGame">
                  <img src="https://files.playerduo.com/production/static-files/game-category/other.png" class="iconPlay" height="28" width="28"  >
                  {{hotUser.requirement}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top: 30px">
      <button *ngIf="hotPage!=0" type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="backPage()"> <<</button>
      <button *ngIf="hotPage!=0" type="button" class="btn btn-outline-danger" style=" font-size: 11px "
              (click)="show12ProviderHot(hotPage=0)"> 1
      </button>
      <button *ngIf="hotPage>1" type="button" class="btn btn-outline-danger" style=" font-size: 11px "> ...</button>
      <button type="button" class="btn btn-danger" style=" font-size: 11px "> {{hotPage + 1}}</button>
      <button *ngIf="hotPage<(totalPages-2)" type="button" class="btn btn-outline-danger" style=" font-size: 11px "> ...</button>
      <button *ngIf="hotPage!=(totalPages-1)"type="button" class="btn btn-outline-danger" style=" font-size: 11px "
              (click)="show12ProviderHot(hotPage =totalPages-1)"> {{totalPages}}</button>
      <button *ngIf="hotPage!=(totalPages-1)" type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="nextPage()"> >></button>
    </div>
  </div>
</div>
</div>

<div class="new_arrivals" style="margin-top: 100px">
  <div class="container">
      <div style="left: 50px">
        <div>
          <p class="vipPlayer">New Player</p>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="product-grid"
             data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
          <div class="product-item men left" *ngFor="let newUser of usersNew">
            <div class="product discount product_filter">
              <div class="product_image">
                <a [routerLink]="'details/'+newUser.id" >
                  <img src="{{newUser.avatar}}" alt="" >
                </a>
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                <span>{{newUser.price}}$/h</span></div>
              <div class="product_info">
                <a  [routerLink]="'details/'+newUser.id">
                  <div class="product_price">{{newUser.name}}
                  </div>
                </a>
                <div>
                  <div class="description">
                    🍓 Tuổi :  {{newUser.age}}
                  </div>
                </div>
                <div class="imgGame">
                  <img src="https://files.playerduo.com/production/static-files/game-category/other.png" class="iconPlay" height="28" width="28"  >
                  {{newUser.requirement}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="Page">
        <button *ngIf="page!=0" type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="backPageNew()"> <<</button>
        <button *ngIf="page!=0" type="button" class="btn btn-outline-danger" style=" font-size: 11px "
                (click)="show12ProviderCreateNewAccount(page=0)"> 1
        </button>
        <button *ngIf="page>1" type="button" class="btn btn-outline-danger" style=" font-size: 11px "> ...</button>
        <button type="button" class="btn btn-danger" style=" font-size: 11px "> {{page + 1}}</button>
        <button *ngIf="page<(totalPages-2)" type="button" class="btn btn-outline-danger" style=" font-size: 11px "> ...</button>
        <button *ngIf="page!=(totalPages-1)"type="button" class="btn btn-outline-danger" style=" font-size: 11px "
                (click)="show12ProviderCreateNewAccount(page =totalPages-1)"> {{totalPages}}</button>
        <button *ngIf="page!=(totalPages-1)" type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="nextPageNew()"> >></button>
      </div>
    <div class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div
              class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
              <h2>Please enter promo code</h2>
            </div>
          </div>
          <div class="col-lg-6">
            <form action="post">
              <div
                class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                <input id="newsletter_email" type="email" placeholder="Gif code" required="required"
                       data-error="Valid email is required.">
                <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300"
                        value="Submit">Return
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

