<div class="super_container">
  <!-- New Arrivals -->

  <div class="new_arrivals">
    <div class="container">
      <div class="row">
        <div style="left: 50px">
          <div class=" ">
            <p class="vipPlayer">Hot Player</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="product-grid"
               data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

            <div class="product-item men hiep" *ngFor="let user of users">
              <div class="product discount product_filter">

                <div class="product_image">
                  <a [routerLink]="'details/'+user.id">
                    <img src="{{user.avatar}}" alt="" height="200" width="230">
                  </a>
                </div>
                <div class="favorite favorite_left"></div>
                <div
                  class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                  <span>-$20</span></div>
                <div class="product_info">


                  <div>
                    <div class="col-lg-3">
                      <p *ngIf="user.status==1" style="color: #0dcaf0">online</p>
                    </div>
                    <h3 class="product_name">{{user.name}}</h3>
                  </div>

                  <div class="product_price">{{user.price}}$</div>

                </div>
              </div>

              <button class="red_button add_to_cart_button" data-toggle="modal" data-target="#exampleModal"
                      style="margin-left: 32px"><a>Rent</a>
              </button>
              <app-modal-rent [provider]="user"></app-modal-rent>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 30px">
        <button type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="backPage()"> <<</button>
        <button type="button" class="btn btn-outline-danger" style=" font-size: 11px "
                (click)="show12ProviderHot(page=0)"> 1
        </button>
        <button type="button" class="btn btn-danger" style=" font-size: 11px "> {{page + 1}}</button>
        <button type="button" class="btn btn-outline-danger" style=" font-size: 11px "> ...</button>
        <button type="button" class="btn btn-outline-danger" style=" font-size: 11px "
                (click)="show12ProviderHot(page = totalPages-2)"> {{totalPages - 1}}</button>
        <button type="button" class="btn btn-outline-danger" style=" font-size: 11px "
                (click)="show12ProviderHot(page =totalPages-1)"> {{totalPages}}</button>
        <button type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="nextPage()"> >></button>
      </div>
    </div>
  </div>
</div>

<div class="new_arrivals" style="margin-top: 100px">
  <div class="container">
    <div class="row">
      <div style="left: 50px">
        <div class=" ">
          <p class="vipPlayer">New Player</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="product-grid"
             data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
          <div class="product-item men hiep" *ngFor="let a of usersNew">
            <div class="product discount product_filter">
              <div class="product_image">
                <a [routerLink]="'details/'+a.id">
                  <img src="{{a.avatar}}" alt="" height="200" width="230">
                </a>
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                <span>-$20</span></div>
              <div class="product_info">
                <h3 class="product_name">{{a.name}}</h3>
                <div class="product_price">{{a.price}}</div>
              </div>
            </div>
            <button class="red_button add_to_cart_button" style="margin-left: 32px"><a href="#">Connect Now</a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 30px">
      <button type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="backPageNew()"> <<
      </button>
      <button type="button" class="btn btn-outline-danger" style=" font-size: 11px "
              (click)="show12ProviderCreateNewAccount(page=0)"> 1
      </button>
      <button type="button" class="btn btn-danger" style=" font-size: 11px "> {{page + 1}}</button>
      <button type="button" class="btn btn-outline-danger" style=" font-size: 11px "> ...</button>
      <button type="button" class="btn btn-outline-danger" style=" font-size: 11px "
              (click)="show12ProviderHot(page = totalPages-2)"> {{totalPages - 1}}</button>
      <button type="button" class="btn btn-outline-danger" style=" font-size: 11px "
              (click)="show12ProviderHot(page =totalPages-1)"> {{totalPages}}</button>
      <button type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="nextPageNew()"> >>
      </button>
    </div>
    <div class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div
              class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
              <h2>Please enter promo code if you have</h2>
            </div>
          </div>
          <div class="col-lg-6">
            <form action="post">
              <div
                class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                <input id="newsletter_email" type="email" placeholder="Gif code" required="required"
                       data-error="Valid email is required.">
                <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300"
                        value="Submit">Return
                </button>
              </div>
            </form>
          </div>
        </div>

        <!--Modal search-->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h3>Search</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
              <input class="modal-body" type="text">
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Send
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


