
    <h3>bảng nhập thông tin nhà cung cấp</h3>
    <div class="container rounded bg-white mt-5 mb-5">

      <form [formGroup]="formProfiveProvider" (ngSubmit)="updateProfileProvider()">
      <div class="row">
        <div class="col-md-3 border-right">
  <!--        //email-->
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
            <span class="font-weight-bold">email:</span>
            <span class="text-black-50">{{userProvider.email}}</span><span> </span>
            <span class="font-weight-bold">status:</span>
            <span class="text-black-50" *ngIf="userProvider.status==1">tài khoản thường</span><span> </span>
          </div>
        </div>
  <!--      //profile seting-->
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Profile Settings</h4>
            </div>
            <div class="row mt-3">
              <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"formControlName="name"></div>
              <div class="col-md-6"><label class="labels">age</label><input type="text" class="form-control" formControlName="age"></div>

              <div class="col-md-6"><label class="labels">username</label><input type="text" class="form-control" formControlName="username"></div>
              <div class="col-md-6"><label class="labels">password</label><input type="text" class="form-control" formControlName="password"></div>
              <div class="col-md-6"><label class="labels">phoneNumber</label><input type="text" class="form-control" formControlName="phoneNumber"></div>
              <div class="col-md-6"><label class="labels">price</label><input type="text" class="form-control" formControlName="price"></div>
            </div>
            <div class="row mt-3">
              <div class="form-group">
                <label for="comment">description:</label>
                <textarea class="form-control" rows="5" cols="100"  formControlName="description" id="comment"></textarea>
              </div>

              <div class="form-group">
                <label for="comment1">serviceOfProviders:</label>
                <textarea class="form-control" rows="5" cols="100"  formControlName="serviceOfProviders" id="comment1"></textarea>
              </div>
            </div>
            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3 py-5">

            <div class="d-flex justify-content-between align-items-center experience"><span>Edit Provider</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Return</span></div><br>
              <label class="mdb-main-label">gender : </label>
              <select class="mdb-select md-form colorful-select dropdown-primary" formControlName="gender">
                <option value="nam">Nam</option>
                <option value="nu">Nu</option>
                <option value="lest">lest</option>
                <option value="gey">gey</option>
                <option value="BD">BD</option>
              </select>


<!--            <div class="row mt-2">-->

<!--              <div class="col-md-6"><label class="labels">price</label><input type="text" class="form-control"formControlName="price"></div>-->
<!--              <div class="col-md-6"><label class="labels">phoneNumber</label><input type="number" class="form-control" formControlName="phoneNumber"></div>-->
<!--              <div class="col-md-6"><label class="labels">age</label><input type="text" class="form-control" formControlName="age"></div>-->

<!--            </div>-->
            <div><img src="{{fb}}" height="100" width="150" alt=""></div>
            <div class="col-md-12"><label class="labels">avatar</label><input type="file" (change)="onFileSelected($event)"></div> <br>
            <div class="col-md-12"><label class="labels">role</label><input type="text" class="form-control" formControlName="roles" ></div>

          </div>
        </div>
      </div>
      </form>

    </div>


