
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-contact">
          <h2><b>Wellcome Lover</b></h2>
          <p>
            Hà Nội <br>
            KĐT Mon City, <br>
            Số 23-TT01<br>
            Tầng 6 <br>
            <br><br>
            <strong>Phone:</strong> +99 88 77 66 55 44 33 22 11<br>
            <strong>Email:</strong> thuenguoiyeu@gmail.com<br>
          </p>
        </div>


        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Đừng hỏi em ăn cơm chưa mà hãy nói:</h4>
          <li>
            Em biết em và cái ly khác nhau ở điểm gì không?
            Cái ly dễ vỡ, em thì dễ thương!
          </li>
          <br>
          <li>
            Thời tiết trái gió trở trời,
            Trái tim lỡ nhịp cả đời thương em.
          </li>
          <br>
          <li>Em có thể cho anh mượn một nụ hôn được không? Anh hứa là sẽ trả lại đầy đủ.</li>
        </div>
        <div class="col-lg-4 col-md-10 footer-links">
          <h4>Thuê người yêu :</h4>
          <strong>CEO and Founder</strong>
          <li>ĐạtG</li>
          <li>Doãn Đại Hiệp</li>
          <li>ATus</li>
          <li>BinKonChuot</li>
          <li>Vinh Xô</li>
          <p></p>
          <div class="social-links mt-3" >
            <div id="link">
              <a href="#" class="fa fa-facebook"></a>
                <a class="fa fa-youtube"></a>
              <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-shield"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>Appland</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <h1>Service what you deserves – Phục vụ những gì bạn xứng đáng!
      </h1>
      <h2>Nơi chúng tôi không quay lưng như Người Yêu Cũ của bạn.</h2>
    </div>
  </div>
</footer>
<!-- End Footer -->
