<div class="super_container">
  <div class="container single_product_container">
    <div class="row">
      <div class="col-lg-6">
        <div class="single_product_pics" >
          <div class="row">
            <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
              <div class="single_product_thumbnails">
                <ul *ngFor="let img of provider.images" >
                  <li><img src="{{img.link}} "  height="138px" width="100px" ></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9 image_col order-lg-2 order-1">
              <div class="single_product_image">
                <div class="single_product_image_background" style="background-image:url({{provider.avatar}})"></div>
                <div class="imgvip">
                  <img src="assets/images/vip2.png" height="60" width="60" alt="">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="product_details">
          <div class="product_details_title">
            <h1 class="nameProvider" >{{provider.name}}</h1>
            <div class="profile-more" >
              <h3> 👅 Giới tính : {{provider.gender}}</h3>
              <h3> ✨ Thành phố : {{provider.city}}</h3>
              <h3> 🍓 Ngày sinh : {{provider.dateOfBirth}}</h3>
            </div>
           <div *ngFor="let service of provider.serviceOfProviders">
             <p>{{service.name}}</p>
           </div>
          </div>
          <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
            <div class="imgGame">
              <img src="https://files.playerduo.com/production/static-files/game-category/other.png"  height="28px" width="28px"
                    > {{provider.requirement}}
            </div>
          </div>
          <div *ngIf="provider.status==1" class="product_color">
            <span> Trạng thái:</span>
            <ul>
              <li class="status" style="background: green"></li>
              <li class="status"  >Online</li>
            </ul>
          </div>
          <div *ngIf="provider.status==2" class="product_color">
            <span> Trạng thái:</span>
            <ul>
              <li class="status" style="background: red"></li>
              <li class="status">Offline</li>
            </ul>
          </div>
        </div>
      </div>
      <div class=" borderNew" >
        <div class="product_price leftt">{{provider.price}} đ/h</div>
        <div class="leftt" >Số lượt thuê : {{provider.countOfDate}} </div>
        <div class="button-cart" >
<!--          <button class="red_button add_to_cart"  ><a href="#" style="text-decoration: none">Order Now</a></button>-->
          <button class="red_button add_to_cart" data-toggle="modal" data-target="#exampleModal"
                  ><a>Rent</a>
          </button>
          <app-modal-rent [provider]="provider"></app-modal-rent>
          <button class="white_button add_to_cart"><a href="#" style="text-decoration: none">Point : </a></button>
          <button class="white_button add_to_cart"><a href="#" style="text-decoration: none">Chat Now</a></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabs -->

  <div class="tabs_section_container">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 desc_col">
          <div class="tab_title">
            <h2 style="color: orangered">Description</h2>
          </div>
          <div class="tab_text_block" style="top: -50px">
            <p>{{provider.description}}</p>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- Tabs -->

  <div class="tabs_section_container" style="margin-top: 80px">

    <div class="container">
      <div class="row">
        <div class="col ">
          <!-- Tab Description -->
          <!--//show all comen-->

          <div class="container mt-5">
            <div class="d-flex justify-content-center row">
              <div class="col-md-10">
                <div class="d-flex flex-column comment-section">
                  <div *ngFor="let c of chats">
                    <div class="bg-white p-2">
                      <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{c.customer.avatar}}" width="60" height="60">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><a href="/details/{{c.customer.id}}"> {{c.customer.name}}</a></span><span class="date text-black-50">Shared publicly - Jan 2022-3-18</span></div>
                      </div>
                      <div class="mt-2">
                        <p class="comment-text">{{c.message}}</p>
                      </div>
                    </div>
                    <div class="bg-white">
                      <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                        <div  class="like p-2 cursor" *ngIf="user.id==c.customer.id"><i class="fa fa-share"></i><span class="ml-1" style="color: orangered" (click)="deleteComment(c.id)">delete</span></div>
                      </div>
                    </div>
                  </div>

                  <!--                  //khung chat -->
                  <form [formGroup]="formComment" (ngSubmit)="saveComment()">
                    <p style="color: #007bff">{{user.name}}</p>
                    <div class="bg-light p-2" *ngIf="userId!=provider.id">
                      <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="{{user.avatar}}" width="50" height="50"><textarea class="form-control ml-1 shadow-none textarea" style="font-size: 15px" formControlName="message"></textarea></div>
                      <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                    </div>
                    <div>
                      <input type="number" formControlName="customer" hidden>
                      <input type="number" formControlName="provider" hidden>
                    </div>
                  </form>
                  <div>
                    <button type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="backPage()"> <<</button>
                    <button type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="findAllComment(page=0)"> 1
                    </button>
                    <button type="button" class="btn btn-danger" style=" font-size: 11px "> {{page + 1}}</button>
                    <!--                    <button type="button" class="btn btn-outline-danger" style=" font-size: 11px "-->
                    <!--                            (click)="findAllComment(page = totalPages-2)"> {{totalPages - 1}}</button>-->
                    <button type="button" class="btn btn-outline-danger" style=" font-size: 11px "
                            (click)="findAllComment(page =totalPages-1)"> {{totalPages}}</button>
                    <button type="button" class="btn btn-outline-danger" style=" font-size: 11px " (click)="nextPage()"> >></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>      </div>
  </div>
</div>
