<br>
<br>
<div class="card">
  <div class="row">
    <div class="col-md-12 cart">
      <h3 style="font-size: x-large; text-align: center; color: #fe4c50"><b>Pay with MoMo QR Code</b></h3>
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b style="font-size: large">Nguyễn Tú Anh</b> || 0889117861</h4>
            <h4>Mã đơn: #{{paymentCode}}</h4>
            <h4>Nội dung: Họ và Tên + mã đơn + Số Điện Thoại</h4>
          </div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div style="height: 300px; width: 300px">
          <img  style="height: 300px; width: 300px; margin-left: 300px" src="assets/images/payment/momoQRCode.jpg">
        </div>
        <div class="col-lg-12"><button class="btn" id="check_out" (click)="checkout()">CHECKOUT</button></div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
