<div class="modal fade" id="rentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex flex-column text-center">

          <!-- BƯỚC 1: REGISTER: ĐẦU TIÊN thông qua #f="ngForm" (ngSubmit)="f.form.valid && ngSubmit()"
         // triển khai hàm ngSubmit() bên Login.componment.ts -->
          <form class="form-login" (ngSubmit)="rent()" [formGroup]="rentForm" novalidate>
            <!--            <mat-error class="alert alert-primary" >{{status}}</mat-error>-->

            <!--   provider name-->
            <mat-form-field style="width: 450px" appearance="outline">
              <mat-label>Tên:</mat-label>
              <p>{{user.name}}</p>
            </mat-form-field> <br>

            <!-- Tiền thuê theo giờ -->
            <mat-form-field style="width: 450px" appearance="outline">
              <mat-label>Giá thuê theo giờ:</mat-label>
              <p>{{user.price}}</p>
            </mat-form-field> <br>

            <!-- Số giờ thuê -->
            <mat-form-field style="width: 450px" appearance="outline">
              <mat-label>Nhập giờ muốn thuê</mat-label>
             <input formControlName="hoursOfService" type="number">
            </mat-form-field> <br>

            <!-- Ngày thuê-->
            <mat-form-field style="width: 450px" appearance="outline">
              <mat-label>Ngày thuê:</mat-label>
              <input formControlName="hoursOfService" type="date">
            </mat-form-field> <br>

            <!--   provider name-->
            <mat-form-field style="width: 450px" appearance="outline">
              <mat-label>Tổng tiền:</mat-label>
              <p>{{totalPrice}}</p>
            </mat-form-field> <br>

            <!-- Login -->
            <button  mat-stroked-button style="width: 100px" class="mat-button-toggle-group btn-outline-primary" type="submit">
              Thuê
              <mat-icon matSuffix>login</mat-icon>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
