<!--<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-body">-->
<!--        <div class="d-flex flex-column text-center">-->

<!--          &lt;!&ndash; BƯỚC 1: REGISTER: ĐẦU TIÊN thông qua #f="ngForm" (ngSubmit)="f.form.valid && ngSubmit()"-->
<!--         // triển khai hàm ngSubmit() bên Login.componment.ts &ndash;&gt;-->
<!--          <form class="form-login" #f="ngForm" (ngSubmit)="f.form" novalidate>-->
<!--            &lt;!&ndash;            <mat-error class="alert alert-primary" >{{status}}</mat-error>&ndash;&gt;-->

<!--            <mat-form-field style="width: 450px" appearance="outline">-->
<!--              <mat-label>Username</mat-label>-->
<!--              <input name="username" [(ngModel)]="form.username" matInput placeholder="Placeholder" #username="ngModel" minlength="3" maxlength="50" required>-->
<!--              <mat-icon matSuffix>person_outline</mat-icon>-->
<!--            </mat-form-field> <br>-->

<!--            &lt;!&ndash; Password &ndash;&gt;-->
<!--            <mat-form-field style="width: 450px" appearance="outline">-->
<!--              <mat-label>Nhập giờ muốn thuê</mat-label>-->
<!--              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >-->
<!--                <mat-icon>{{hide ? 'visibility_off' : 'visibilyti'}}</mat-icon>-->
<!--              </button>-->
<!--            </mat-form-field> <br>-->

<!--            &lt;!&ndash; Login &ndash;&gt;-->
<!--            <button  mat-stroked-button style="width: 100px" class="mat-button-toggle-group btn-outline-primary"-->
<!--            >Login-->
<!--              <mat-icon matSuffix>login</mat-icon>-->
<!--            </button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
