<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <table class="table">
        <thead>
        <th colspan="2" style="text-align: center; ">
          <h3>Rent Provider</h3>
        </th>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>Mark</td>
        </tr>
        <tr>
          <th scope="row">Time</th>
          <td>Jacob</td>
        </tr>

        <tr>
          <th scope="row">Payment</th>
          <td>Jacob</td>
        </tr>

        <tr>
          <th scope="row">Money</th>
          <td>Jacob</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
